**/.eslintrc.json
**/jsconfig.json
**/.*
!.gitignore

**.odt

**/node_modules
**/jspm_packages

admin/generated
admin/keys/*private*
admin/config.json

app/dist
app/config/config.json

blockchain/testnet-admin
blockchain/testnet-public
