{
  "ethereum": {
    "rpc": "https://rpc.tau1.artis.network",
    "chainExplorer": "https://explorer.tau1.artis.network",
    "gasPrice": 100000000000
  },
  "refuelBaseUrl": "//faucet.tau1.artis.network/ats/"
}
